<!-- Mobile Menu Toggle Button -->
<div class="relative z-20 xl:hidden">
	<button id="primary-menu-toggle" class="block w-8 text-white cursor-pointer focus:outline-none" @click="toggleMenu()">
		<span class="block w-full h-1 mb-1 transition-transform bg-current rounded-md"></span>
		<span class="block w-full h-1 mb-1 transition-opacity bg-current rounded-md"></span>
		<span class="block w-full h-1 transition-transform bg-current rounded-md"></span>
	</button>
</div>

<!-- Primary Menu -->
<nav id="primary-menu" class="fixed top-0 right-0 z-50 h-screen px-4 pt-12 pb-32 border-l-4 w-80 bg-dark-blue border-primary sm:px-6 lg:px-8 xl:border-0 xl:opacity-100 xl:static xl:w-auto xl:h-auto xl:translate-x-0 xl:p-0 xl:bg-transparent" x-cloak x-show="open || !mobile" x-transition:enter="transition-transform ease-out duration-300" x-transition:enter-start="translate-x-80" x-transition:enter-end="translate-x-0" x-transition:leave="transition-transform ease-in duration-300" x-transition:leave-start="translate-x-0" x-transition:leave-end="translate-x-80">
	<div class="flex justify-start pb-12 xl:hidden">
		<button class="block w-8 text-white cursor-pointer focus:outline-none xl:hidden" @click="toggleMenu()">
			<span class="block w-full h-1 mb-1 transition-transform transform rotate-45 translate-y-2 bg-current rounded-md"></span>
			<span class="block w-full h-1 mb-1 transition-opacity bg-current rounded-md opacity-0"></span>
			<span class="block w-full h-1 transition-transform transform -rotate-45 -translate-y-2 bg-current rounded-md"></span>
		</button>
	</div>

	<ul class="flex flex-col gap-6 xl:flex-row xl:gap-12 xl:items-center">
		{% for item in items %}
			<li x-data="menuItem" @mouseover="setActive(true, $el)" @mouseleave="setActive(false, $el)" class="{{ item.classes | join(' ') }}" :class="pos === 'left' ? 'is-right ' : 'is-left'">
				<a href="{{ item.link }}" target="{{ item.target }}" title="{{ item.title }}" class="flex items-center justify-between gap-1 hover:decoration-primary xl:py-3">
					<span>
						{{ item.title }}
					</span>

					{% if item.children %}
						<span @click="($event) => openSubNav($event)" class="xl:hidden">
							<svg class="w-5 h-5 transition-transform duration-100 transform" :class="expanded ? '-rotate-180' : ''" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
								<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/>
							</svg>
						</span>
					{% endif %}
				</a>

				<!-- Child Menu Items -->
				{% if item.children %}
					{% include 'partials/submenu.twig' with { children: item.children } %}
				{% endif %}
			</li>
		{% endfor %}

		<!-- Callout Button -->
		{% if primary_menu.menu_callout %}
			<li>
				<a href="{{ primary_menu.menu_callout.url }}" target="{{ primary_menu.menu_callout.target }}" title="{{ primary_menu.menu_callout.title }}" class="text-base text-center btn border-dark-blue btn-primary">
					{{ primary_menu.menu_callout.title }}
				</a>
			</li>
		{% endif %}
	</ul>
</nav>
