<div class="flex flex-col xl:flex-row items-center gap-4 xl:gap-6 2xl:gap-12">
          <a
            class="block w-full xl:w-1/2 bg-primary aspect-square relative overflow-hidden"
            title="View Post"
            href="{{ post.link }}"
            x-data="hover"
            @mouseover="setHover(true)"
            @mouseleave="setHover(false)"
          >
            <span
              class="transform duration-500 ease-in-out absolute size-full flex items-center justify-center"
              :class="hover ? 'scale-105' : 'scale-100'"
            >
              <span class="relative text-white text-lg sm:text-xl lg:text-2xl">View Post</span>
              {{ get_image_html(post.thumbnail.id, 'absolute z-10 inset-0 size-full object-cover grayscale') }}    
            </span>    
          </a>

          <div class="flex-1 flex flex-col gap-2">
            <div class="text-sm">{{ post.category }}</div>

            <h5 class="text-xl lg:text-lg xl:text-xl 2xl:text-3xl font-bold">
              {% if fields.show_date %}
                <span class="text-sm opacity-60">{{ post.date }}</span>
              {% endif %}

              {% if fields.show_author %}
                <span class="text-sm opacity-60">by {{ post.author }}</span>
              {% endif %}
              <a href="{{ post.link }}">{{ post.title }}</a>
            </h5>

            <div class="mb-4">{{ post.excerpt({ words: 12, read_more: '' }) }}</div>

            <div class="font-bold text-sm">{{ post.author }}</div>

            <div class="flex items-center gap-2 text-sm opacity-60">
              <span>{{ post.date }}</span>
              <span style="font-size: 0.5rem">&bull;</span>
              <span>{{ function('do_shortcode', '[rt_reading_time postfix="min" postfix_singular="min" post_id="' ~ post.id ~ '″]') }}</span>
            </div>
          </div>
        </div>