<!-- Group posts by menu-category -->
{% set posts = get_posts(fields.menu_items) %}
{% set grouped = {} %}

{% for post in posts %}
	{% set term = post.terms('menu-category') | first %}
	{% if term %}
		{% set grouped = grouped | merge({ (term.slug): (grouped[term.slug]|default([])) | merge([post]) }) %}
	{% endif %}
{% endfor %}

<!-- Tab Content -->
{% set tab_slugs = grouped | keys %}
{% set tab_names = tab_slugs | map((slug) => get_term({'slug': slug, 'taxonomy': 'menu-category'}).name) %}

<script defer>
	let labels = {{ tab_names | json_encode | raw }};
</script>

<section class="acf-party-menu text-white relative z-10 py-12 md:py-24 xl:py-32 px-4 sm:px-6 lg:px-20 {{ attributes.className }}" x-data="menuTabs()" x-init="setLabels(labels)">
	<div
		class="container relative z-10 flex flex-col max-w-6xl gap-6 mx-auto">

		<!-- Heading -->
		{% if fields.heading %}
			<h2 class="text-center h2">
				{{ fields.heading }}
			</h2>
		{% endif %}

		<!-- Tab Buttons -->
		<div class="flex flex-wrap justify-center mt-6 mb-12 text-sm font-medium gap-x-6 gap-y-4 lg:gap-8 sm:text-base md:mb-20">
			<template x-for="(label, index) in tabLabels" :key="index">
				<button @click="activeTab = index" :class="activeTab === index ? 'border-b-2 border-red text-white' : 'text-gray-400 hover:text-white'" class="pb-2 font-bold uppercase transition sm:text-lg" x-text="label"></button>
			</template>
		</div>

		{% for slug, items in grouped %}
			<div
				x-show="activeTab === {{ loop.index0 }}" x-transition>
				<!-- Header Note -->
				{% if fields.header_notes[loop.index0] %}
					<div class="mb-12 text-base text-center md:text-lg wysiwyg text-white/80">
						{{ fields.header_notes[loop.index0].note }}
					</div>
				{% endif %}

				{% for item in items %}
					<div class="flex items-start justify-between gap-4 py-4 not-last:border-b not-last:border-med-blue">
						<div class="flex items-center gap-4 md:gap-8 xl:gap-12">
							{% if item.thumbnail %}
								<img src="{{ item.thumbnail.src('medium') }}" alt="{{ item.title }}" class="object-cover rounded size-14 lg:size-20 shrink-0 bg-gray"/>
							{% else %}
								<div class="flex items-center justify-center text-sm font-bold rounded size-14 lg:size-20 bg-gray text-white/80 shrink-0">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="size-8" viewbox="0 0 16 16">
										<path d="M13 .5c0-.276-.226-.506-.498-.465-1.703.257-2.94 2.012-3 8.462a.5.5 0 0 0 .498.5c.56.01 1 .13 1 1.003v5.5a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5zM4.25 0a.25.25 0 0 1 .25.25v5.122a.128.128 0 0 0 .256.006l.233-5.14A.25.25 0 0 1 5.24 0h.522a.25.25 0 0 1 .25.238l.233 5.14a.128.128 0 0 0 .256-.006V.25A.25.25 0 0 1 6.75 0h.29a.5.5 0 0 1 .498.458l.423 5.07a1.69 1.69 0 0 1-1.059 1.711l-.053.022a.92.92 0 0 0-.58.884L6.47 15a.971.971 0 1 1-1.942 0l.202-6.855a.92.92 0 0 0-.58-.884l-.053-.022a1.69 1.69 0 0 1-1.059-1.712L3.462.458A.5.5 0 0 1 3.96 0z"/>
									</svg>
								</div>
							{% endif %}

							<div>
								<p class="text-white h4">{{ item.title }}</p>
								{% if item.excerpt %}
									<p class="mt-1 text-sm leading-snug text-gray-300 sm:text-base lg:text-lg">
										{{ item.excerpt({ read_more: false }) }}
									</p>
								{% endif %}
							</div>
						</div>

						<p class="flex flex-col items-end gap-2">
							<span class="text-white h5">${{ item.price }}</span>
							{% if item.price_note %}
								<span class="text-sm italic font-normal text-white/80">
									{{ item.price_note }}
								</span>
							{% endif %}
						</p>
					</div>
				{% endfor %}

				<!-- Footer Note -->
				{% if fields.footer_notes[loop.index0] %}
					<div class="mt-12 text-sm text-center text-white/80 wysiwyg">
						{{ fields.footer_notes[loop.index0].note }}
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</section>
