<section class="masonry-grid relative bg-primary relative z-0 py-8 sm:py-18 md:py-35" style="background: linear-gradient(0deg,rgba(3, 1, 25, 1) 67%, rgba(37, 42, 105, 1) 100%);">
	{{ get_image_html(fields.background_image.id, 'absolute inset-0 object-contain top-0 opacity-75 z-1 map-img w-full') }}
	<div class="wrapper relative flex flex-col gap-12 lg:gap-16 z-2">
		<div class="flex flex-col gap-4 text-center">
			{% if fields.eyebrow %}
				<h6 class="h6 text-red">
					{{ fields.eyebrow }}
				</h6>
			{% endif %}

			{% if fields.heading %}
				<h2 class="h2 text-white">
					{{ fields.heading}}
				</h2>
			{% endif %}
			{% if fields.subheading %}
				<div class="wysiwyg text-white w-full md:w-2/3 lg:w-1/2 text-center m-auto sm:text-lg lg:text-xl">
					{{ fields.subheading}}
				</div>
			{% endif %}
		</div>

		<div class="text-white relative grid grid-cols-1 md:grid-cols-2 gap-6 xl:gap-8 w-full pb-12 sm:pb-16 lg:pb-24 px-6 sm:px-12 md:px-8 lg:px-12 xl:px-16 z-2">

			{% if fields.item_one and fields.item_one.heading %}
				<div class="tile border border-light-blue p-6 lg:p-8 flex flex-col justify-between gap-8 md:col-span-2 relative aspect-[1/1] lg:aspect-[2.5/1]  rounded-lg">
					{{ get_image_html(fields.item_one.image, 'absolute size-full inset-0 object-cover z-0 opacity-70') }}
					<div class="absolute z-2 inset-0 size-full bg-linear-to-t from-dark-blue to-transparent opacity-70"></div>

					<div class="z-9 absolute tile-text">
						<div class="h4 mb-2">{{ fields.item_one.heading }}</div>
						<div class="description text-sm sm:text-base lg:text-lg pr-6">
							{{ fields.item_one.description }}
							{% if fields.item_one.button %}
								<a href="{{ fields.item_one.button.url }}" title="{{ fields.item_one.button.title }}" target="{{ fields.item_one.button.target ? fields.item_one.button.target : '_self' }}" class="btn btn-primary lg:!px-8 xl:!px-16 mt-4 text-sm sm:text-base lg:text-lg">
									{{ fields.item_one.button.title }}
								</a>
							{% endif %}
						</div>
					</div>
				</div>
			{% endif %}

			{% if fields.item_two and fields.item_one.heading %}
				<div class="tile border border-light-blue p-6 lg:p-8 flex flex-col justify-between gap-8 relative aspect-[1/1] bg-dark-blue rounded-lg">
					{{ get_image_html(fields.item_two.image, 'absolute size-full inset-0 object-cover z-0') }}
					<div class="absolute inset-0 size-full bg-linear-to-t from-dark-blue to-transparent opacity-70 z-2"></div>

					<div class="z-9 absolute tile-text">
						<div class="h4 mb-2">{{ fields.item_two.heading }}</div>
						<div class="description text-sm sm:text-base lg:text-lg pr-6">
							{{ fields.item_two.description }}
							{% if fields.item_two.button %}
								<a href="{{ fields.item_two.button.url }}" title="{{ fields.item_two.button.title }}" target="{{ fields.item_two.button.target ? fields.item_two.button.target : '_self' }}" class="btn btn-primary lg:!px-8 xl:!px-16 mt-4 text-sm sm:text-base lg:text-lg">
									{{ fields.item_two.button.title }}
								</a>
							{% endif %}
						</div>
					</div>
				</div>
			{% endif %}

			{% if fields.item_three and fields.item_three.heading %}
				<div class="tile border border-light-blue p-6 lg:p-8 flex flex-col justify-between gap-8 relative aspect-[1/1] bg-dark-blue rounded-lg">
					{{ get_image_html(fields.item_three.image.id, 'absolute size-full inset-0 z-0 object-cover') }}
					<div class="absolute z-2 inset-0 size-full bg-linear-to-t from-dark-blue to-transparent opacity-70"></div>
					<div class="z-9 absolute tile-text">
						<div class="h4 mb-2">{{ fields.item_three.heading }}</div>
						<div class="description text-sm sm:text-base lg:text-lg pr-6">
							{{ fields.item_three.description }}
							{% if fields.item_three.button %}
								<a href="{{ fields.item_three.button.url }}" title="{{ fields.item_three.button.title }}" target="{{ fields.item_three.button.target ? fields.item_three.button.target : '_self' }}" class="btn btn-primary lg:!px-8 xl:!px-16 mt-4 text-sm sm:text-base lg:text-lg">
									{{ fields.item_three.button.title }}
								</a>
							{% endif %}
						</div>
					</div>
				</div>
			{% endif %}

		</div>
	</div>
</section>
