<section id="image-with-text" class="py-8 md:py-16 xl:py-24 relative z-10 bg-transparent image-position--{{ fields.image_right ? 'right' : 'left' }} {{ attributes.className }}">
	<div class="wrapper flex flex-col md:flex-row items-center gap-6 md:gap-12 xl:gap-24 relative z-10">
		<div class="section-image relative md:basis-1/2">
			{{ get_image_html(fields.image, 'w-full object-cover aspect-square max-h-[680px] section-image--img') }}
		</div>

		<div class="section-content flex flex-col justify-center md:basis-1/2 gap-3 py-6 lg:py-24">
			{% if fields.heading %}
				<h2 class="text-white h3">
					{{ fields.heading }}
				</h2>
			{% endif %}

			{% if fields.subheading %}
				<div class="wysiwyg text-white">
					{{ fields.subheading }}
				</div>
			{% endif %}

			{% if fields.buttons|length > 0 %}
				<div class="btn-group flex items-center flex-wrap gap-4 mt-6">
					{% for button in fields.buttons %}
						<a class="btn {{ loop.index == 1 ? 'btn-primary' : 'btn-secondary'}}" href="{{ button.link.url }}" target="{{ button.link.target ?: '_self'}}" title="{{ button.link.title }}">
							{{ button.link.title ?: 'Click Here' }}
						</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
</section>
