<section class="relative z-3 events-listing text-white bg-linear-to-t from-med-blue via-dark-blue to-dark-blue py-12 md:py-24 xl:py-32">
	{{ get_image_html(fields.background_image.id, 'absolute w-full h-1/2 bottom-0 left-0 object-cover opacity-50 z-1') }}
	<div class="absolute bottom-0 left-0 w-full h-1/2 z-2 bg-gradient-to-t from-transparent to-dark-blue"></div>

	<div class="wrapper gap-8 text-center z-3 relative">
		<div class="flex flex-col gap-4 mb-12 md:mb-16 xl:mb-24">
			{% if fields.eyebrow %}
				<h6 class="h6 text-red">
					{{ fields.eyebrow }}
				</h6>
			{% endif %}
			{% if fields.heading %}
				<h2 class="h2">
					{{ fields.heading}}
				</h2>
			{% endif %}
			{% if fields.subheading %}
				<div class="wysiwyg sm:text-lg lg:text-xl w-full md:w-2/3 lg:w-1/2 text-center m-auto">
					{{ fields.subheading}}
				</div>
			{% endif %}
		</div>
		<div class="relative z-2 pb-12">
			{{ function('do_shortcode', '[tribe_events view="list" past="false" tribe-bar="false" filter-bar="false"]') }}
		</div>
	</div>
</section>
